<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="vwood" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="V Wood - Atom" />
  </head>
  <body>
    <div class="site">
      <div class="title">
        <a href="/">vwood</a>
        <a class="extra" href="https://github.com/vwood">github</a>
      </div>
      {{ content }}
    </div>
  </body>
</html>
